@page "/"

<PageTitle>Авторизация</PageTitle>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<img src='/css/background.png' style="position: absolute; left: 0px; top: 0px; object-fit: fill">*@

@*<MudAppBar Style="margin-top: 2%; position: absolute; width: 90%; left: 50%; transform: translate(-50%, 0); border-radius: 20px; background-color: white; box-shadow: none;">
    <MudButton>
        Главная страница
    </MudButton>
</MudAppBar>*@


@*<img src='/css/Cover.png' style="position: absolute; left: 0px; top: 0px; object-fit: fill; width: 20%">*@


<div>
    <div class="mainblock">
        <div style="flex: 50%;">
            <img src='/css/Mesh-20.png' style="width: 98%">
        </div>
        <div style="flex: 50%; padding: 3%; justify-content: center;  align-items: center;">
            <div >
                <br/>
                <div style="text-align: center">
                    <label >
                        АВТОРИЗАЦИЯ
                    </label>
                </div>
                <br />
                <label >
                    Логин
                </label>
                <br />
                <input @bind-value="login" type="text" placeholder="Введите логин" class="inputStyle">
                <br />
                <br />
                <label >
                    Пароль
                </label>
                <br />
                <input @bind-value="password" type="password" placeholder="Введите пароль" class="inputStyle">
                <br />
                <div style="justify-content: center;  align-items: center;">
                    <MudButton Variant="Variant.Outlined" Color="Color.Info" >Войти</MudButton>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    string? login;
    string? password;
}

<style>

    .labelStyle {
        letter-spacing: 0;
        text-transform: none;
        text-align: left;
        vertical-align: middle;
        
        font-size: 28px;
        color: black;
        font-weight: 400;
        width: 100%
    }

    .inputStyle {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        font-size: 22px;
        width: 80%;
        font-family: Playfair Display;
        mix-blend-mode: normal;
        align-items: inherit;
    }
    .mainblock{
        display: flex;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 20%;
        top: 700%;
        align-self: center;
        width: 60%;
        opacity: 1;
        mix-blend-mode: normal;
        background-color: rgba(255, 255, 255, 1);
        align-items: center;
        justify-content: center;
    }
</style>